<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ums.dao.IndexNewsMapper">
  <resultMap id="BaseResultMap" type="com.ums.bean.IndexNews">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="newsAbstract" jdbcType="VARCHAR" property="newsabstract" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="showImg" jdbcType="VARCHAR" property="showimg" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ums.bean.IndexNewsWithBLOBs">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="videoUrl" jdbcType="LONGVARCHAR" property="videourl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, newsAbstract, createTime, type, imgUrl, showImg
  </sql>
  <sql id="Blob_Column_List">
    content, videoUrl
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.ums.bean.IndexNewsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tw_index_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.ums.bean.IndexNewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tw_index_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tw_index_news
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tw_index_news
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ums.bean.IndexNewsExample">
    delete from tw_index_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ums.bean.IndexNewsWithBLOBs">
    insert into tw_index_news (id, title, newsAbstract, 
      createTime, type, imgUrl, 
      showImg, content, videoUrl
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{newsabstract,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR}, 
      #{showimg,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{videourl,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ums.bean.IndexNewsWithBLOBs">
    insert into tw_index_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="newsabstract != null">
        newsAbstract,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="imgurl != null">
        imgUrl,
      </if>
      <if test="showimg != null">
        showImg,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="videourl != null">
        videoUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="newsabstract != null">
        #{newsabstract,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="showimg != null">
        #{showimg,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="videourl != null">
        #{videourl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ums.bean.IndexNewsExample" resultType="java.lang.Long">
    select count(*) from tw_index_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tw_index_news
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.newsabstract != null">
        newsAbstract = #{record.newsabstract,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.imgurl != null">
        imgUrl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.showimg != null">
        showImg = #{record.showimg,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.videourl != null">
        videoUrl = #{record.videourl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update tw_index_news
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      newsAbstract = #{record.newsabstract,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      imgUrl = #{record.imgurl,jdbcType=VARCHAR},
      showImg = #{record.showimg,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      videoUrl = #{record.videourl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tw_index_news
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      newsAbstract = #{record.newsabstract,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      imgUrl = #{record.imgurl,jdbcType=VARCHAR},
      showImg = #{record.showimg,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ums.bean.IndexNewsWithBLOBs">
    update tw_index_news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="newsabstract != null">
        newsAbstract = #{newsabstract,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="showimg != null">
        showImg = #{showimg,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="videourl != null">
        videoUrl = #{videourl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ums.bean.IndexNewsWithBLOBs">
    update tw_index_news
    set title = #{title,jdbcType=VARCHAR},
      newsAbstract = #{newsabstract,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      showImg = #{showimg,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      videoUrl = #{videourl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ums.bean.IndexNews">
    update tw_index_news
    set title = #{title,jdbcType=VARCHAR},
      newsAbstract = #{newsabstract,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      showImg = #{showimg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>