<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ums.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.ums.bean.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="childid" jdbcType="BIGINT" property="childid" />
    <result column="courseid" jdbcType="BIGINT" property="courseid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="ordernum" jdbcType="VARCHAR" property="ordernum" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="endtime" jdbcType="VARCHAR" property="endtime" />
    <result column="qrpath" jdbcType="VARCHAR" property="qrpath" />
    <result column="qrpath_wx" jdbcType="VARCHAR" property="qrpathWx" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userid, childid, courseid, status, ordernum, time, endtime, qrpath, qrpath_wx, 
    type, amount
  </sql>
  <select id="selectByExample" parameterType="com.ums.bean.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tw_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tw_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tw_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ums.bean.OrderExample">
    delete from tw_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ums.bean.Order">
    insert into tw_order (id, userid, childid, 
      courseid, status, ordernum, 
      time, endtime, qrpath, 
      qrpath_wx, type, amount
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{childid,jdbcType=BIGINT}, 
      #{courseid,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{ordernum,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, #{qrpath,jdbcType=VARCHAR}, 
      #{qrpathWx,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{amount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ums.bean.Order">
    insert into tw_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="childid != null">
        childid,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="qrpath != null">
        qrpath,
      </if>
      <if test="qrpathWx != null">
        qrpath_wx,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="childid != null">
        #{childid,jdbcType=BIGINT},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="qrpath != null">
        #{qrpath,jdbcType=VARCHAR},
      </if>
      <if test="qrpathWx != null">
        #{qrpathWx,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ums.bean.OrderExample" resultType="java.lang.Long">
    select count(*) from tw_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tw_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.childid != null">
        childid = #{record.childid,jdbcType=BIGINT},
      </if>
      <if test="record.courseid != null">
        courseid = #{record.courseid,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.ordernum != null">
        ordernum = #{record.ordernum,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null">
        endtime = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.qrpath != null">
        qrpath = #{record.qrpath,jdbcType=VARCHAR},
      </if>
      <if test="record.qrpathWx != null">
        qrpath_wx = #{record.qrpathWx,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tw_order
    set id = #{record.id,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=BIGINT},
      childid = #{record.childid,jdbcType=BIGINT},
      courseid = #{record.courseid,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      ordernum = #{record.ordernum,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      endtime = #{record.endtime,jdbcType=VARCHAR},
      qrpath = #{record.qrpath,jdbcType=VARCHAR},
      qrpath_wx = #{record.qrpathWx,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ums.bean.Order">
    update tw_order
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="childid != null">
        childid = #{childid,jdbcType=BIGINT},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null">
        ordernum = #{ordernum,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="qrpath != null">
        qrpath = #{qrpath,jdbcType=VARCHAR},
      </if>
      <if test="qrpathWx != null">
        qrpath_wx = #{qrpathWx,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ums.bean.Order">
    update tw_order
    set userid = #{userid,jdbcType=BIGINT},
      childid = #{childid,jdbcType=BIGINT},
      courseid = #{courseid,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      ordernum = #{ordernum,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      qrpath = #{qrpath,jdbcType=VARCHAR},
      qrpath_wx = #{qrpathWx,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      amount = #{amount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>